@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #001BB7;
    --cor-secundaria: #F5F1DC;
    --cor-terciaria: #FF8040;
    --cor-destaque: #FF8040;
    --cor-hover: #0046FF;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 8% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.cabecalho__menu__link:hover {
    transform: scale(1.1);
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 10% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo {
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    text-align: justify;
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__link__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__link__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 16px;
    padding: 21.5px 0;
    transition: transform 0.3s ease;
}

.apresentacao__link__link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);

}

.apresentacao__link__destaque {
    color: var(--cor-destaque);
}

.rodape {
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 15px;
}
