@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

:root {
    --cor-primaria: #001BB7;
    --cor-secundaria: #F5F1DC;
    --cor-terciaria: #FF8040;
    --cor-destaque: #FF8040;
    --cor-hover: #0046FF;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 8% 0% 8%;
}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 20px;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.cabecalho__menu__link:hover {
    transform: scale(1.1);
    color: var(--cor-secundaria);
}

.apresentacao {
    padding: 8% 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0;
}

.titulo-destaque {
    color: var(--cor-destaque);
}

.apresentacao__conteudo {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-principal);
    font-size: 2.25rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    text-align: justify;
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__link__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__link__navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 16px;
    padding: 21.5px 0;
    transition: transform 0.3s ease;
}

.apresentacao__link__navegacao:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);

}

.apresentacao__link__destaque {
    color: var(--cor-destaque);
}

.rodape {
    font-family: var(--fonte-secundaria);
    text-align: center;
    font-size: 0.9rem;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 15px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 8%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 30px;
    }

    .apresentacao {
        padding: 5%;
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo {
        width: auto;
        gap: 60px;
    }

    .apresentacao__link__navegacao {
        width: 60%;
    }
}