@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    background-color: black;
    color: #E6F1FF;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #38C172;
}

.apresentacao {
    margin: 10%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 25px;
}

.apresentacao__conteudo__titulo {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: justify;
}

.apresentacao__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__link__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__link__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: 2px solid #22D4FD;
    border-radius: 16px;
    padding: 21.5px 0;
    transition: transform 0.3s ease;
}

.apresentacao__link__link:hover {
    background-color: #272727;
    transform: scale(1.1);

}

.apresentacao__link__destaque {
    color: #38C172;
}